option_settings:
  - option_name: BUNDLE_WITHOUT
    value: "test:development"

  - option_name: RACK_ENV
    value: production

  - option_name: CDN77_TOKEN
    value: CHANGE_ME

  - option_name: CDN77_EXPIRATION
    value: 1080

  - option_name: CLOUDFLARE_TOKEN
    value: CHANGE_ME

  - option_name: CLOUDFLARE_EXPIRATION
    value: 1080

  - option_name: FASTLY_TOKEN
    value: CHANGE_ME

  - option_name: FASTLY_EXPIRATION
    value: 86400

  - option_name: LL_TOKEN
    value: CHANGE_ME

  - option_name: LL_EXPIRATION
    value: 60

  - option_name: LL_CF
    value: 7200

  - option_name: LL_CD
    value: 100

  - option_name: WOWZA_TOKEN
    value: CHANGE_ME

  - option_name: WOWZA_EXPIRATION
    value: 1080
