p Hello

p Our premium user #{ @susspicious_user.login } did to many simultanious requests.

p His subscription was automatically cancelled.

p It was valid till #{ @susspicious_user.old_expiration }
