//= depend_on account/_template.html.slim
//= depend_on account/billing/_form.slim
//= depend_on account/edit/_template.html.slim
//= depend_on account/password_reset/_sent.html.slim
//= depend_on account/password_reset/_template.html.slim
//= depend_on account/pricing/_template.html.slim
//= depend_on account/settings/_template.html.slim
//= depend_on account/settings/information/_template.slim
//= depend_on account/settings/subscription/_template.slim
//= depend_on account/setup/_template.html.slim
//= depend_on account/sign_up/_template.html.slim
//= depend_on account/sign_up/invitation_sent/_template.html.slim
//= depend_on account/subscribe/_form.html.slim
//= depend_on account/subscribe/_template.html.slim
//= depend_on add_to_favorites/_template.html.slim
//= depend_on common/_pagination.html.slim
//= depend_on device/activation/_form.html.slim
//= depend_on device/activation/_template.html.slim
//= depend_on device/add_channel/_premium.html.slim
//= depend_on device/add_channel/_step1.html.slim
//= depend_on device/add_channel/_step2.html.slim
//= depend_on device/add_channel/_step3.html.slim
//= depend_on device/add_channel/_step4.html.slim
//= depend_on device/add_channel/_step5.html.slim
//= depend_on device/add_channel/_step6.html.slim
//= depend_on device/add_channel/_template.html.slim
//= depend_on device/landing/_template.html.slim
//= depend_on favorite_videos/_template.slim
//= depend_on form/_errors.slim
//= depend_on form/_field_error.slim
//= depend_on form/choose_device/_template.html.slim
//= depend_on form/choose_plan/_template.html.slim
//= depend_on form/paypal_button/_template.html.slim
//= depend_on form/plan_total/_template.html.slim
//= depend_on form/seals/authorize_net/_template.html.slim
//= depend_on form/seals/digicert/_template.html.slim
//= depend_on form/seals/paypal/_template.html.slim
//= depend_on layout/_body.slim
//= depend_on layout/footer/_template.slim
//= depend_on layout/header/_template.slim
//= depend_on layout/header/menu/_template.slim
//= depend_on layout/header/user_menu/_actions.slim
//= depend_on layout/header/user_menu/_template.html.slim
//= depend_on layout/off_canvas/_header.slim
//= depend_on layout/off_canvas/_left.slim
//= depend_on layout/off_canvas/_right.slim
//= depend_on layout/sidebar/_content.slim
//= depend_on layout/sign_up_banner/_template.slim
//= depend_on layout/user_info_banner/_template.slim
//= depend_on legal/_template.html.slim
//= depend_on legal/policy.html.slim
//= depend_on legal/policy_modal.html.slim
//= depend_on legal/tos.html.slim
//= depend_on legal/tos_modal.html.slim
//= depend_on recently_played/_template.slim
//= depend_on resource/channel/_template.html.slim
//= depend_on resource/channel/grid/_scroller.html.slim
//= depend_on resource/channel/grid/_template.slim
//= depend_on resource/dashboard/_template.html.slim
//= depend_on resource/dashboard/grid/_scroller.html.slim
//= depend_on resource/dashboard/grid/_template.slim
//= depend_on resource/demo/_template.html.slim
//= depend_on resource/episode/_template.html.slim
//= depend_on resource/episode/grid/_scroller.html.slim
//= depend_on resource/episode/grid/_template.slim
//= depend_on resource/grid/_template.html.slim
//= depend_on resource/show/_template.html.slim
//= depend_on resource/test/_template.html.slim
//= depend_on resource/thumbnail/dropdown/_template.html.slim
//= depend_on session/sign_in/_template.html.slim
//= depend_on share/_template.html.slim
//= depend_on showcase/_template.slim
//= depend_on showcase/display/_template.html.slim
//= depend_on test_video_player/_template.html.slim
//= depend_on video_player/_template.html.slim
//= depend_on video_player/no_adobe_flash/_template.slim
//= depend_on watchlist/_template.html.slim
//= depend_on watchlist/grid/_scroller.html.slim
= raw WebClient::TemplateCompiler.compile