.row.row--dark.row--padding ng-controller='ChannelGridCtrl'
  .video-player-grid
    .video-player-grid__scroller scroll-elements="::thumbnails" scroll-elements-options="scroll_options" scroll-elements-bind="true"
