option_settings:
  aws:elasticbeanstalk:application:environment:
    ACCOUNT_EMAIL_SENDER: support@malimar.tv
    ADMIN_LOGIN: support@malimar.tv
    ADMIN_PASSWORD: CHANGE_ME
    AUTHORIZE_NET_LOGIN: CHANGE_ME
    AUTHORIZE_NET_MERCHANT_HASH: CHANGE_ME
    AUTHORIZE_NET_TRANSACTION_KEY: CHANGE_ME
    AWS_REGION: us-west-1
    BUNDLE_WITHOUT: "test:development"
    CACHE_RESPONSE_FOR: 1800
    CDN77_EXPIRATION: 10800
    CDN77_TOKEN: CHANGE_ME
    CLOUDFLARE_EXPIRATION: 1080
    CLOUDFLARE_TOKEN: CHANGE_ME
    COMPANY_NAME: Malimar
    DB_POOL: 116
    DOMAIN: malimartv.elasticbeanstalk.com
    FACEBOOK_APP_ID: 349525751921348
    FACEBOOK_SECRET: CHANGE_ME
    FASTLY_EXPIRATION: 86400
    FASTLY_TOKEN: CHANGE_ME
    FEATURE_ALL_CONTENT_FREE: "off"
    FEATURE_BETA: "off"
    FEATURE_PAYMENTS: "on"
    FEATURE_REGISTRATION: "on"
    FEATURE_ROKU: "on"
    FEATURE_SUBSCRIPTION: "on"
    FLOW_PLAYER_TOKEN: CHANGE_ME
    FULL_COMPANY_NAME: Malimar Technology Group, Inc.
    GOOGLE_APP_ID: 157044224203-fs1t9a84paeo33jgieqviucqa2s7icv4.apps.googleusercontent.com
    HOME_FOLDER: https://malimartv.s3.amazonaws.com/roku/xml/Home/
    HOME_URL: https://malimartv.s3.amazonaws.com/roku/xml/Grid/HomeGrid.xml
    INVITATION_EXPIRATION: 432000
    JWPLAYER: GBDNtHWSqEZT0hFrlBwwMfGqFD0/qEw3QkhHxUsLdhu4Le2s
    LL_CD: 100
    LL_CF: 7200
    LL_EXPIRATION: 7200
    LL_TOKEN: CHANGE_ME
    PP_CALLBACK_URL: https://www.malimar.tv/callback/payment_notifications
    PP_MERCHANT_ID: KYG7GNRVZNCVA
    PP_SUBMIT_URL: https://www.paypal.com/cgi-bin/webscr
    RACK_ENV: production
    RECENTLY_PLAYED_SIZE: 50
    REDIS_HOST: "malimar-cache-db-2.sqmbur.0001.usw1.cache.amazonaws.com"
    ROKU_ACTIVATION_BUCKET: malimarserial
    ROKU_ACTIVATION_EMAIL_RECEIVER: support@malimar.tv
    ROLLBAR_ENV: production
    ROLLBAR_TOKEN: CHANGE_ME
    SECRET_KEY_BASE: CHANGE_ME
    SESSIONS_PER_USER: 2
    SESSION_EXPIRATION: 86400
    SIDEKIQ_ADMIN: CHANGE_ME
    SIDEKIQ_PASSWORD: CHANGE_ME
    SMTP_ADDRESS: smtp.mandrillapp.com
    SMTP_LOGIN: support@malimar.tv
    SMTP_PASSWORD: CHANGE_ME
    STREAM_SERVER: http://liveplay3.malimarcdn.com
    SUBSCRIPTION_EMAIL_SENDER: support@malimar.tv
    SUPPORT_EMAIL: support@malimar.tv
    TAWK_APP_ID: 55cac7512c0a209a199487f0
    WOWZA_EXPIRATION: 10800
    WOWZA_OLD_EXPIRATION: 10800
    WOWZA_OLD_TOKEN: CHANGE_ME
    WOWZA_TOKEN: CHANGE_ME
