files:
  /root/.ssh/id_rsa:
    mode: '000600'
    content: |
      -----BEGIN RSA PRIVATE KEY-----
      MIIEowIBAAKCAQEAtnlHRq8WO3Qpy0n7Zo41gkfNiE2Nj8rD7W4BWjMt4q7r/jYK
      4pc7dqbZvY3Kfm+qeW6Sybifc/42nWgnuyeiKKCS/G4C1oF9InNawM3Kpma15iPu
      OjmK/7zHrbFAKpf9li8gzL2JjkTpq+c5mesnTTGBJwQ8zN1VlbC+ArF0QKt0PD8r
      8haW+dwN0OOhDEb8cZ4BGjk5bA4IvttUjCpxd8d+cV3Msf26GJTMnrxu+VSva4hF
      8tP/whggai6pdgu/+6buWtbnxRBpaVyPUKXddQPZM99yG/dr29w1JMR0FXwnUG9R
      HcPLRGR748dYg0GsAWV8vaJ1kN0uqaNKyuxxUQIDAQABAoIBAQCOrNdhWkds51BC
      hq9OqgUGv/PiDpmQg/+cZzYhfAD1zMXzd/gc4hj5lk6MWxCoudE2r5GQro3m2S+E
      9kqSmNO/JoanX7FSXd8lD8M3G/HHGGpD73Y3CoU3nzkWA5DjfQIn6uOfkte6aQG4
      isxMIEUTo5CTnEmZ+boQmCiJ3IzEfrhakqI8LZgqU4R3+OvH0bsJRf45kmWu6V1v
      zXCA1ysT7GnguWQ5A3FD+eP9Jj2+7F50GYO60kbKVnEauctU9vldlhkbw5aqLOSn
      1tyRnhSEEfzJf468tUIo5uW1iA9WV5C3vUMWUaJzUvp2jIErBIZyrctw4yXe84n3
      78wv+9dRAoGBAOc0YWbJYtQUe29E5zOjPi9vM5dJGKEpPFQ+xG5nZRqMOjv+0xvO
      ZqV0a2PgzzytdtVfzJ4kPusBIblm0Ft57mK3y8EAzMM3rlVXoaEtNOgy2ENsKBBJ
      1Ha+wi0aPZdZYnz68gD7LYLc3QoZn+jgkFmOc7lnkmOfQSUpSp+4JNDNAoGBAMoL
      A4JpNr/k2C4QV8q5JQC7IWHXPTRX5/1X5NHMoGQWruCYCz5HO6+dL9Q02bu8L8vJ
      FERVdYO3rdxxlhj0n9zx7XpymbrkZvmh/xdID+8RY4JCVOYNr8KHxZWTOmg4ee3h
      dQGA1EwBr/3TDT6WzyZR7k9x8kgEk5g4F9ywEpKVAoGAQwoqL/62/F3QCMyG6a8s
      6d4prHVSgfCOALOOi6DJbTA59omGNyrbEqC2PujBzotRyL8VeslxwPy8BaFtSwkI
      +XDn0Nflh7mOgEp/oFeWXrnXgX1MBKUTyTa44REZyNfvOeQd5fDvGmHmafZSKtlq
      ob0vixQgG2jjH95gN/3SFwUCgYBxX4LFoBKX1Ws1VfhdikzoPxl5VJVElPtZ3wNI
      cuGhqFTTNJ5CgShN4A9hrZJsVSog2SGlQqshkWVfKOHH+STnj13p8vqus9HQzIVe
      5BIE3aYQBvaq7Q0uRI+r4iTJLL/Gq1fD0y3NxLij3tU0xN1SrHDkZZVFskO8C+Xf
      8XFKjQKBgBWgYkm3tJtSvMW6pdg4hmt5zFBb1brFdFELCSN21XwYEbpbVcSDfqX8
      xnxaIO9WZjqIu3fC4j78WzCV3Fj94hV/9HpfCh8FGGZuF2uU5kcIg8xupzJBEeEu
      1lHiYAjdKAJcvmjDqVyqY4tzD5G6KrLMG5v3g48iK5AaPzFIdnxv
      -----END RSA PRIVATE KEY-----
