.row.row--dark.row--padding ng-controller='EpisodeGridCtrl'
  .video-player-grid
    .video-player-grid__scroller scroll-elements="::episodes" scroll-elements-options="scroll_options" scroll-elements-bind="true"
