.seals__seal
  .AuthorizeNetSeal
    a ng-click="verify()" target="_blank"
      img src="https://verify.authorize.net/anetseal/images/secure90x72.gif" width="90" height="72" border="0" alt="Authorize.Net Merchant - Click to Verify"
